<div id="aboutModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
          <h4 class="modal-title">Cadastrar Barbeiros</h4>
        </div>
        <div class="modal-body">
          <h1>Desenvolver alguma pagina de Sobre</h1>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->