<div id="deleteBarber" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
          <h4 class="modal-title">Excluir Barbeiro</h4>
        </div>
        <div class="modal-body">
          <form action="/admin/add-barber" method="post" class="text-center">
            <h1>Deseja excluir barbeiro?</h1>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="submit" class="btn btn-primary">Excluir</button>
            </div>
          </form>
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->