<form action="/login/submit" method="post">
    <div class="card">
    <div class="field">
        <span class="header">Login</span>
        <div class="form-group">
        <input type="text" required="required" name="email" />
        <label for="input" class="control-label">Email</label><i class="bar"></i>
        </div>
        <div class="form-group">
        <input type="password" required="required" name="password" />
        <label for="input" class="control-label">Password</label><i class="bar"></i>
        </div>
        <div class="button-container">
        <button type="submit" class="button"><span>Submit</span></button>
        </div>
    </div>
    </div>
</form>
<link rel="stylesheet" href="/stylesheets/index.css" >
<script src="/javascripts/index.js"></script>